# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt
*.pro.user*
build-*
*.autosave

# OSX
.DS_Store

blockly/*
roboblocks/roboblocks/

# L10N
*.qm

# Makefiles
Makefile
