[Desktop Entry]
Type=Application
Version=0.6
Name=Visualino
Comment=Visual Programming Environment for Arduino
Icon=/usr/share/visualino/icons/icon.png
Exec=visualino %f
TryExec=visualino
Categories=Education;Development;
StartupNotify=true
Terminal=false
