html, body {
    height: 100%;
    margin: 0;
}

#code {
    margin: 0;
    float: right;
    width: 33%;
    height: 100%;
    background-color: #f0f0f0;
    color: #5F5F5F;
    overflow: auto;
}

#wrap {
    height: 100%;
    width: 100%;
    margin: 0;
}
